@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f9f9;
    color: #151719;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    width: 100%;
    min-height: 100svh;
  }
}
